@import "./../../colors.scss";

input {
  background-color: transparent;
  border: 0;
  outline: transparent;
  border-bottom: 1px solid $input-txt-border;
  color: $input-txt;
  padding: 8px 15px;
  font-size: 16px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  margin: 5px;
  &:focus {
    color: $input-txt-focus;
  }
  &::placeholder {
    color: $input-txt;
    opacity: 1;
  }
}
