@import "./../../colors.scss";
label {
  color: $input-txt;
  font-size: 12px;
}
input {
  background-color: transparent;
  border: 0;
  outline: transparent;
  border-bottom: 1px solid $input-txt-border;
  color: $input-txt;
  padding: 8px 15px;
  font-size: 14px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  &:focus {
    color: $input-txt-focus;
  }
  &::placeholder {
    color: $input-txt;
    opacity: 1;
  }
}
