@import './../../colors.scss';
button {
  background-color: $button-bg;
  padding: 8px 15px;
  border-radius: 20px;
  border: 0;
  color: $button-txt;
  &:disabled {
    background-color:  $button-bg-disabled;
  }
}
