@import "./../../colors.scss";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border: 1px solid $button-bg-disabled;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: $button-bg-disabled;
  }
}
