@import "./colors.scss";
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), url("src/styles/fonts/OpenSans-Regular.ttf") format("woff");
}
.app-content {
  margin: 10px 15px;
}
* {
  font-family: "Open Sans", sans-serif;
}
h1 {
  &.header {
    color: $button-bg;
    border-bottom: 1px solid $button-txt-disabled;
    line-height: 60px;
  }
}
.controls {
  display: grid;
  grid-template-columns: 110px 110px calc(100% - 220px);
  margin-bottom: 20px;
}
